font-size = 14px
.container
  margin-top 20px
  margin-bottom 20px
  background-color white

textarea
input 
  color #a7a7a7
  &:hover
    color #000

overload-padding = true

if overload-padding
  padding(y,x)
    margin y x

body
  padding 5px 10px