@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1613358792209'); /* IE9 */
  src: url('iconfont.eot?t=1613358792209#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABqgAAAJyAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBEIEUATYCJAMMCwgABCAFhG0HPxvbBRHVi3uyP0A2ZAOvBaE1eQgAtqTG2S+x4IFxkPODyMAoSAAAAACAeHga99+5M/NhLhghZCMpMwklbYhbHQqz4+bXAAUyXAJATxYU65CCHpWrpAJwyOHXUowlAAi9/iI7NVcZf73BAZVoczPkX42KUCzJed5P35GOCWl+GXA5/Qn09jTqgHJZc9DypwowDiigvTGKrIQybhleu1id3InHBOoNWyg2bdl1SK2CrgrExXNnjqkt5BRFadYK1Q0Hi3hEtelBGh5G348/BZNUZXTjvtObT1r3k59mVHpAyCPA8SpkLEQhjjTW9slC4bL6WjHJvmYFP638J0FA7JVPxF/H2xvBLFjTHek9m1vTwxEJZFBdbExgmcB2Xh+ive32y7LTL1pOPsONnzn1fFKILDRVg7pj8ndc/bIHwyOvB1/76qQ80f+6Vqzldb+lT6ahf6It7ihayOvTsug3SwWCJ5eWVf/ZBXyLd8RX4B21J4gHP0uP7Cm2kfpzMXWezk1k7YhIAjrqUaGpdj/GO7rQ3YRaXSMSNYYyZLUmycIuRJUGK1Gt1lrUW2Dr8QYdrsui1GHeHYLQ6g2SZm+RtfpMFvY7qnT7h2qtQah3JDoubDAdZhAhlIwG1B+CbtXyIIu484bunSXljZHwQuqhCMs4l5tXrEhzbOkftzJbsNQK7OQ5zLnBQS2i5tEzH9s02aY3jbqVQdhIKBkNqD8E3aoNhrOofP6G7p0ldchaqi+kHsaHZZwR5NVWUbJ7eaV/3MpswVIrsJN5mHODo3leRM2jH1E5tokNsljbuL6jfN8RqEe35kiRo6i/EWR13fu2S6oB7zAAAAA=') format('woff2'),
  url('iconfont.woff?t=1613358792209') format('woff'),
  url('iconfont.ttf?t=1613358792209') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1613358792209#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e81b";
}

.icon-xiangxia:before {
  content: "\e81c";
}

