.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    color: #333;
}

header {
    background: #47464a;
    color: #999;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

header a {
    margin: 0 38px;
}
header a:hover {
    color: #fff;
}

header a.selected {
    color: #ef4238;
}

.wrapper {
    width: 1120px;
    margin: 0 auto;
}
.wrapper .nav{
    border: 1px solid #e5e5e5;
    margin: 40px 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px;
}

.wrapper .nav .item {
    margin: 1em 0;
    border-bottom: 1px dotted #e5e5e5;
}

.wrapper .nav .item.no-line {
    border:none;
}

.wrapper .nav .item .left {
    float: left;
    color: #999;
}

.wrapper .nav .item .right {
    float: right;
    width: 1010px;
}

.wrapper .nav .item .right li {
    float: left;
    margin: 0 9px;
    padding: 0 6px;
}

.wrapper .nav .item .right li.selected {
    background: #ef4238;
    color: #fff;
    border-radius: 15px;
}

.wrapper .moves .wrapper{
    float: left;
    width: 160px;
    margin: 10px 32px 10px 0;
}

.wrapper .moves .wrapper .image img {
    width: 160px;
    height: 220px;
}

.wrapper .moves .wrapper:nth-child(6n) {
    margin-right: 0;
}

.wrapper .moves .wrapper .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 2px;
    text-align: center;
}

.wrapper .moves .wrapper .score {
    color: #ffb400;
    text-align: center;
    line-height: 2.5;
    font-style: italic;
}

.wrapper .moves .wrapper .score:first-letter {
    font-size: 1.5em;
}

.wrapper footer {
    margin: 2em 0;
    text-align: center;
}

.wrapper footer a {
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    margin: 0 3px;
    display: inline-block;
}
.wrapper footer a:hover {
    border-color: #ef4238;
}
.wrapper footer a.selected {
    background: #ef4238;
    color: #fff;
    border: none;
}